<section class="container-fluid">
  <h3>NGXS CRUD EXAMPLE</h3>
  <br><br>
  <div class="header-div">
    <h4>PRODUCT LIST</h4>
    <button class="btn btn-primary add-button" (click)="addProduct()">Add Product </button>
  </div>
  <br><br>
  <div class="table-div">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of allProductsData$|async">
          <td scope="row">{{product.id}}</td>
          <td>{{product.title}}</td>
          <td>{{product.price}}</td>
          <td><img src="{{product.image}}" alt="product-image"></td>
          <td>
            <div class="icon-div">
              <a class="show" (click)="showProduct(product.id)">Show</a>
              <a class="update" (click)="updateProduct(product.id)">Update</a>
              <a class="delete" (click)="deleteProduct(product.id)">Delete</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p class="author">Made By Mohit Sharma on 14th February 2022</p>
  </div>
</section>
