<h3 class="product-details">Add Product Details</h3>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input type="email" class="form-control" id="category" aria-describedby="category" formControlName="category">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <input type="email" class="form-control" id="description" aria-describedby="description"
      formControlName="description">
  </div>
  <div class="mb-3">
    <label for="productID" class="form-label">ID</label>
    <input type="text" class="form-control" id="productID" formControlName="productID">
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="text" class="form-control" id="image" formControlName="image">
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="text" class="form-control" id="price" formControlName="price">
  </div>
  <div class="mb-3">
    <label for="rate" class="form-label">Rate</label>
    <input type="text" class="form-control" id="rate" formControlName="rate">
  </div>
  <div class="mb-3">
    <label for="count" class="form-label">Count</label>
    <input type="text" class="form-control" id="count" formControlName="count">
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <button type="submit" class="btn btn-primary btn-submit">Submit</button>
</form>
